@import './vars';

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $white-color;
        border-radius: 10px;

        padding: 14px 20px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logotype {
        display: flex;
        max-height: 52px;
        margin-right: 64px;
    }
}

.nav {
    &__list {
        display: flex;
        gap: 24px;

        &-item {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            line-height: 19.6px;
            letter-spacing: 0px;

        }
    }
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
    &__icon {
        display: flex;
        width: 24px;
        height: 24px;
    }
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0px;

    }
}

.profile {
    &__container {
        display: flex;
        align-items: center;
        gap: 10px;

        padding: 9px 16px;
        background-color: $background-color;
        border-radius: 20px;
    }

    &__username {
        font-weight: 700;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0px;
    }

    &__avatar {
        width: 32px;
        height: 32px;
        border-radius: 20px;
    }
}